{
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-react", {
                    "runtime": "automatic"
                }],
                ["@babel/preset-env", {
                    "exclude": ["@babel/plugin-transform-regenerator"]
                }]
            ],
            "plugins": ["react-refresh/babel"]
        },
        "test": {
            "presets": [
                ["@babel/preset-react", {
                    "runtime": "automatic"
                }],
                ["@babel/preset-env", {
                    "exclude": ["@babel/plugin-transform-regenerator"]
                }]
            ]
        }
    }
}