@use "../sys";

.fieldset {
    border: 0;
    border-left: sys.$w32 solid;
    padding: sys.$w8;
    background: sys.$neutral000;
    box-shadow: sys.$shadow;
    display: grid;
}

@media (max-width: sys.$sm) {
    .fieldset {
        border-left: sys.$w4 solid;
    }
}