@use "../sys";

.fieldset {
    border: 0;
    background-color: sys.$neutral100;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: sys.$w8;
}

.legend {
    color: sys.$neutral500;
    font-weight: bold;
    font-size: sys.$mid-text;
}

.inputs {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: sys.$w512;
    gap: sys.$w8;
}

@media (max-width: sys.$lg) {
    .inputs {
        width: unset;
        align-self: center;
    }
}