@use "../sys";

.container {
    display: grid;
    gap: sys.$w8;
    grid-template: 
        minmax(0, 1fr) minmax(0, 1fr)/ 
        minmax(0, 1fr) minmax(0, 1fr);
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: sys.$w8;
}

.cross-icon {
    height: sys.$w24;
    width: sys.$w24;
    background-color: sys.$primary600;
    clip-path: polygon(10% 0%, 0% 10%, 30% 50%, 0% 90%, 10% 100%, 50% 70%, 90% 100%, 100% 90%, 70% 50%, 100% 10%, 90% 0%, 50% 30%);
}

.delete-button {
    height: sys.$w48;
    width: sys.$w48;;
    display: grid;
    place-items: center;
    border: none;

    &:hover .cross-icon {
        background-color: sys.$minus600;
    }

    &:active {
        transform: translate(2px, 2px);
    }

    &:focus {
        outline: 2px sys.$primary900 solid;
    }
}