@use "../sys";

.title-bar {
    position: sticky;
    top: 0;
    background-color: sys.$primary900;
    color: sys.$neutral000;
    font-size: sys.$large-text;
    font-weight: bold;
    height: sys.$w64;
    z-index: 2;
    box-shadow: sys.$shadow;
    display: grid;
    justify-items: center;
    align-items: stretch;
}

.title-bar-inner {
    max-width: sys.$w1200;
    min-width: sys.$w960;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: sys.$w64;
}

.title {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: stretch;
}

.main {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    place-items: center;
    padding: sys.$w64;
}

.content {
    max-width: sys.$w1200;
    min-width: 60vw;
}

@media (max-width: sys.$lg) {
    .title {
        display: none;
    }

    .title-bar {
        justify-content: stretch;
        justify-items: stretch;
    }

    .title-bar-inner {
        min-width: unset;
    }

    .nav-container {
        flex-grow: 1;
    }

    .main {
        padding: sys.$w32;
    }
}

@media (max-width: sys.$sm) {
    .main {
        padding: sys.$w32 sys.$w16;
    }
}

@media (max-width: sys.$xs) {
    .main {
        padding: sys.$w32 sys.$w4;
    }
}