@use "../sys";

.title-bar {
    position: sticky;
    top: 0;
    background-color: sys.$primary900;
    color: sys.$neutral000;
    font-size: sys.$large-text;
    font-weight: bold;
    padding: 0 sys.$w16;
    height: sys.$w64;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.title {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: stretch;
}

.main {
    max-width: sys.$w960;
    margin: sys.$w64 auto;
}

@media (max-width: sys.$lg) {
    .title {
        display: none;
    }

    .title-bar {
        justify-content: stretch;
    }

    .nav-container {
        flex-grow: 1;
    }

    .main {
        margin: sys.$w64 sys.$w32;
    }
}