@use "../../sys";

.link {
    font-size: 1.5rem;
    color: sys.$neutral050;
    z-index: 2;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.active {
        cursor: default;
        color: sys.$secondary200;
    }

    &.inactive:hover {
        background-color: sys.$primary800;
        color: sys.$secondary200;
    }
}

@media (max-width: sys.$lg) {
    .link {
        flex-grow: 1;
    }
}