@use "../sys";

.container {
    background: white;
    box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
    padding: 20px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart-container {
    position: relative;
    min-width: 0;
    min-height: 45vh;
}

@media (max-width: sys.$lg) {
    .container {
        grid-template-columns: 1fr;
    }
}