@use "../sys";

.container {
    background: sys.$neutral000;
    box-shadow: sys.$shadow;
    padding: sys.$w24;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: sys.$w24;
}

.chart-container {
    position: relative;
    min-width: 0;
}

.explanation-container {
    grid-column: span 2;
    display: grid;
    place-items: center;
    min-width: 0;
}

@media (max-width: sys.$lg) {
    .container {
        grid-template-columns: 1fr;
    }

    .explanation-container {
        grid-column: span 1;
    }
}