$primary050: #E0E8F9;
$primary100: #BED0F7;
$primary200: #98AEEB;
$primary300: #7B93DB;
$primary400: #647ACB;
$primary500: #4C63B6;
$primary600: #4055A8;
$primary700: #35469C;
$primary800: #2D3A8C;
$primary900: #19216C;

$secondary050: #E3F8FF;
$secondary100: #B3ECFF;
$secondary200: #81DEFD;
$secondary300: #5ED0FA;
$secondary400: #40C3F7;
$secondary500: #2BB0ED;
$secondary600: #1992D4;
$secondary700: #127FBF;
$secondary800: #0B69A3;
$secondary900: #035388;

$neutral000: white;
$neutral050: #F5F7FA;
$neutral100: #E4E7EB;
$neutral200: #CBD2D9;
$neutral300: #9AA5B1;
$neutral400: #7B8794;
$neutral500: #616E7C;
$neutral600: #52606D;
$neutral700: #3E4C59;
$neutral800: #323F4B;
$neutral900: #1F2933;

$minus050: #FFE3E3;
$minus100: #FFBDBD;
$minus200: #FF9B9B;
$minus300: #F86A6A;
$minus400: #EF4E4E;
$minus500: #E12D39;
$minus600: #CF1124;
$minus700: #AB091E;
$minus800: #8A041A;
$minus900: #610316;

$warn050: #FFFBEA;
$warn100: #FFF3C4;
$warn200: #FCE588;
$warn300: #FADB5F;
$warn400: #F7C948;
$warn500: #F0B429;
$warn600: #DE911D;
$warn700: #CB6E17;
$warn800: #B44D12;
$warn900: #8D2B0B;

$plus050: #EFFCF6;
$plus100: #C6F7E2;
$plus200: #8EEDC7;
$plus300: #65D6AD;
$plus400: #3EBD93;
$plus500: #27AB83;
$plus600: #199473;
$plus700: #147D64;
$plus800: #0C6B58;
$plus900: #014D40;

$w4: 4px;
$w8: 8px;
$w12: 12px;
$w16: 16px;
$w24: 24px;
$w32: 32px;
$w48: 48px;
$w64: 64px;
$w96: 96px;
$w128: 128px;
$w192: 192px;
$w256: 256px;
$w384: 384px;
$w512: 512px;
$w640: 640px;
$w768: 768px;
$w960: 960px;
$w1200: 1200px;

$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 9999px;

$text: 16px;
$mid-text: 24px;
$large-text: 32px;

$shadow: 0px 1px 3px 0px $neutral500;
$shadow-inset: 0px 1px 3px 0px $neutral500 inset;

:export {
    plus: $plus500;
    minus: $minus500;
    neutral: $neutral900;
}